body{
    background: rgb(178, 231, 208);
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

/*CONTENEDOR PRINCIPAL*/
.main-container{
    display: flex; /*A MANERA DE FILA*/
    margin: 40px;
    border-radius: 25px;
    overflow: hidden; /*EVITAR QUE SE SOBREESCRIBAN LOS ELEMENTOS*/
    background: rgb(209, 243, 228);
}

.sidebar{
    width: 220px;
    padding: 40px 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: sticky;
}

.sidebar nav{
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.sidebar a{
    text-decoration: none;
    color: #5a4a3a;
}

.logo{
    font-size: 25px;
    font-weight: bold;

}

/* MENÚ SUPERIOR */
.topbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 40px;
}

.menu-links{
    display: flex;
    gap: 35px;
}

.menu-links a{
    padding: 10px 20px;
    text-decoration: none;
    color: #5a4a3a;
}
.menu-links :hover{
    background: #71beae; /*#8de1cf;*/
    border-radius: 20px;
    color: antiquewhite;
}

.hero{
    background: rgb(213, 234, 229);
    margin: 20px 40px;
    padding: 40px;
    border-radius: 25px;
    gap: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero-text h1{
    font-size: 43px;
    color:#5a4536;
}

.hero-text p{
    color:#9a8b7c;
    max-width: 250px;
}

.more-btn{
    background:  #7aafa0;
    border: none;
    padding: 12px 25px;
    border-radius: 25px;
    color: beige;
    margin-top: 10px;
}

.books{
    display: flex;
    gap: 40px;

}
/* LIBROS */
.book{
    width: 125px;
}
.book img{
    width: 100%;
    border-radius: 7px;

}
.book h4{
    font-size: 15px;
    margin: 8px 0 4px;
}
.book p{
    font-size: 12px;
    color: #777;
}